* {
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.clean {
    clear: both;
}

/*PICTURE*/
.handImage {
    width: 94%;
}

.title {
    font-weight: bolder;
    text-align: justify;
    color: grey;
    width: 60%;
    font-size: 23px;
}

h4 {
    font-size: 18px;
    padding-left: 18%;
    padding-right: 15%;
    text-align: justify;
    color: grey;
    
}

.rightColumn {
    width: 60%;
    margin-top: 9%;
}

@media (min-width: 992px) { 
    .rightColumn {
        margin-top: 31%;
    }
}